.bob{
  border-radius: 15px
}

.bob1{
  margin-left: auto !important
}

.img1{
  height: 30px;
  width: 30px;
  margin-left: auto
}

.bob2{
  text-align: right;
}

.shirt{
  text-align: center;
}

.text{
  text-align: justify;
}

.tryout{
  border-radius: 15px;
  
}

.mar{
  margin-left: auto !important;
}